# Project exclude paths
/out/
/spring-mvc-01-serlvet/target/
/spring-mvc-02-hellomvc/target/
/springmvc-03-annotation/target/
.gradle/
.idea/


.settings/
appcompat_v7/
bin/
#ddddd
build/
gen/
gradle/
out/
proguard/
ship/
target/
.classpath
.project
.update-config
*.iml

local.properties